doctype html
html(lang=__('LANG'))
  head
    title= title
    link(rel='stylesheet', href=staticResource('bower_components/teambition-ui/dist/css/teambition-ui.css'))
    link(rel='stylesheet', href=staticResource('css/app.css'))
  body
    block content